---
layout: reveal_presentation
---
%section(data-state="cover" )
  %h1 Title
  %h3.inverted byline
  %script
    if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) ) document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')</p>' );

%section
  %h2 Heads Up
  %p 
    reveal.js is an easy to use, HTML based, presentation tool. You'll need a modern browser with 
    support for CSS 3D transforms to see it in its full glory.

%section
  %h1 THE END
  %h3.inverted -Ray Ploski